@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&display=swap');

body{
    background-color: #EFF0F0;
}
h1,h2,h3{
    font-family: 'Caveat', cursive;
    color: #FFBD59;
    margin-top: 0%;
    text-align: center;
    
}
button{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: large;
}
.levelsHeader{
    display: flex;
    height: 10px;
    justify-content: left;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 500px 300px 300px;
    grid-template-rows: 500px 200px 200px;
    grid-template-areas:
        'gameWindow program commands'
        'levels program commands'
        '. program commands';
}

.gameWindow {
    margin-top: 0%;
    grid-area: 'gameWindow';
    border: solid black 1px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #FFBD59 solid 2px;
    border-radius: 10px;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(7, 64px);
    grid-template-rows: repeat(7, 64px);
    height: 448px;
    border: solid red 1px;
    margin: auto;
}
.gridBlock{
    color: rgb(226, 213, 213);
    border: solid black 1px;
    height: 64px;
    width: 64px;

    position: relative;
    text-align: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.gridNumber {
    position: absolute;
    top: 0;
    left: 0;
}
.gridImage {
    display: block;
    margin: 0 auto;

}

.programWindow {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    grid-area: 'program';
    border: solid rgb(251, 178, 70) 2px;
    border-radius: 10px;
    height: 900px;
    justify-content: top;
    align-items: center;
}


.commandsWindow {
    display: flex;
    flex-direction: column;
    grid-area: 'commands';
    border: solid rgb(251, 178, 70) 2px;
    border-radius: 10px;
    height: 900px;
    justify-content: top;
    align-items: center;

}

.levelsWindow {

    height: 100px;
    grid-area: 'levels';
    border: solid rgb(251, 178, 70) 2px;
    border-radius: 10px;
}

/* The color when the codeButtons are in the commands list */
.codeButtonDefault {
    width: 98%;
    height: 40px;
    background-color: #FFBD59;
    border-color: #fcb953;
    border-radius: 10px;
}
/* The color when the codeButtons are in the program list */
.codeButtonProgram{
    width: 98%;
    height: 40px;
    background-color: #F8EAC5;
    border-color: #fcb953;
    border-radius: 10px;    
}


/* The changes in color if the command is correct or not. */
.codeButtonSuccess{
    width: 98%;
    height: 40px;
    background-color: #7efb86;
    border-color: #9dfa93;
    border-radius: 10px;
}
.codeButtonFailed{
    width: 98%;
    height: 40px;
    background-color: #fc6d6d;
    border-color: #f47272;
    border-radius: 10px;
}



.levelButton {
    height: 64px;
    width: 64px;
    background-color: orangered;
    border: #FFBD59 solid 2px;
    border-radius: 10px;
    color: white;
}
.levelButtonDisabled {
    height: 64px;
    width: 64px;
    background-color: rgb(255, 144, 103);
    border: #FFBD59 solid 2px;
    border-radius: 10px;
    color: white;
}



.programControlButtons{
    all:unset;

    height: 60px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    

}
.resetButton{
    height: 50px;
    width: 128px;
    background-color: rgb(255, 83, 31);
    border-color: red;
    border-radius: 10px;
    color: white;
}
.runProgramButton{
    height: 50px;
    width: 128px;
    background-color: rgb(52, 164, 39);
    border-color: green;
    border-radius: 10px;
    color: white;
}

