@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&display=swap');

body{
    background-color: #EFF0F0;
}
h1,h2,h3{
    margin-bottom: 0%;
    font-family: 'Lato', sans-serif;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 2%;
    text-align: left;
    font-size: 16pt;
   
}
button{
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 16pt;
    text-align: left;
}
button:disabled{
    background-color: rgba(128, 128, 128, 0.445);
    color: lightgray;
    border: 0px;
}

.levelsHeader{
    display: flex;
    height: 10px;
    justify-content: left;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 458px 300px 300px;
    grid-template-rows: 500px 200px 200px;
    grid-template-areas:
        'gameWindow program commands'
        'levels program commands'
        '. program commands';
}

.gameWindow {
    margin-top: 0%;
    grid-area: 'gameWindow';
    /* border: solid black 1px; */
    height: 448px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    border-radius: 10px;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(7, 64px);
    grid-template-rows: repeat(7, 64px);
    height: 448px;
    /* border: solid black 1px; */
    /* margin: auto; */
    /* border-radius: 10px; */
}
.gridBlock{
    color: rgb(226, 213, 213);
    border: solid black 1px;
    height: 64px;
    width: 64px;

    position: relative;
    text-align: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.gridNumber {
    position: absolute;
    top: 0;
    left: 0;
}
.gridImage {
    display: block;
    margin: 0 auto;

}

.programWindow {
    margin-left: 1%;
    margin-right: 2%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    grid-area: 'program';
    /* border: solid rgb(251, 178, 70) 2px; */
    /* border-radius: 10px; */
    height: 900px;
    justify-content: top;
    align-items: center;
    
    background-color: #ffffff; 
}


.commandsWindow {
    display: flex;
    flex-direction: column;
    grid-area: 'commands';
    /* border: solid black 2px; */
    /* border-radius: 10px; */
    height: 900px;
    justify-content: top;
    align-items: center;
    background-color: #ffffff; 
}

.levelsWindow {

    height: 100px;
    width: 98%;
    grid-area: 'levels';
    /* border: solid rgb(251, 178, 70) 2px; */
    /* border-radius: 10px; */
    background-color: white;
}
.levelsWindow>h2{
    margin-bottom: 5%;
}

/* The color when the codeButtons are in the commands list */
.codeButtonDefault {
    width: 60%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: #d1d1d1;
    border: none;
    /* border-color: #ffffff; */
    /* border-radius: 10px;     */
    /* border-radius: 10px; */
}
/* The color when the codeButtons are in the program list */
.codeButtonProgram{
    width: 60%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 0px;
    background-color: #d1d1d1;
    border: none;
    /* border-color: #ffffff; */
    /* border-radius: 10px;     */
}

/* The changes in color if the command is correct or not. */
.codeButtonSuccess{
    width: 60%;
    height: 80px;
    margin-top: 3px;
    margin-bottom: 2px;
    background-color: #21eacc;
    border-color: #9dfa93;
    /* border-radius: 10px; */
}
.codeButtonFailed{
    width: 60%;
    height: 80px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #fc6d6d;
    border-color: #f47272;
    /* border-radius: 10px; */
}



.levelButton {
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border: none;
    /* border-radius: 10px; */
    color: black;
}
.levelButtonDisabled {
    height: 50px;
    width: 50px;
    background-color: rgb(156, 156, 156);
    border: none;
    /* border: #FFBD59 solid 2px; */
    /* border-radius: 10px; */
    color: black;
}



.programControlButtons{
    all:unset;
    margin: 2%;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    

}
.resetButton{
    height: 50px;
    width: 60px;
    background-color: rgb(255, 83, 31);
    border: none;
    /* border-color: red; */
    /* border-radius: 10px; */
    color: white;
    text-align: center;
}
.runProgramButton{
    height: 50px;
    width: 60px;
    background-color: rgb(52, 164, 39);
    border: none;
    /* border-color: green; */
    /* border-radius: 10px; */
    color: white;
    text-align: center;
}

#canvasRookie {
    border: dotted white 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
   image-rendering: pixelated;

   z-index: 2;
}
