@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&display=swap');

h1,h2,h3{
    font-family: 'Caveat', cursive;
    color: #FFBD59;
    margin-top: 0%;
    text-align: center;
    
}
p{
    font-family: 'Lato', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 500px 300px 300px;
    grid-template-rows: 500px 200px 200px;
    grid-template-areas:
        'gameWindow program commands'
        'levels program commands'
        '. program commands';
}

.gameWindow {
    margin-top: 0%;
    grid-area: 'gameWindow';
    border: solid black 1px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(7, 64px);
    grid-template-rows: repeat(7, 64px);
    height: 448px;
    border: solid red 1px;
    margin: auto;
}
.gridBlock{
    color: rgb(226, 213, 213);
    border: solid black 1px;
    height: 64px;
    width: 64px;

    position: relative;
    text-align: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.gridNumber {
    position: absolute;
    top: 0;
    left: 0;
}
.gridImage {
    display: block;
    margin: 0 auto;

}

.programWindow {
    min-height: 80px;
    display: flex;
    flex-direction: column;
    grid-area: 'program';
    border: solid black 1px;
    height: 900px;
    justify-content: top;
    align-items: center;
}


.commandsWindow {
    display: flex;
    flex-direction: column;
    grid-area: 'commands';
    border: solid black 1px;
    height: 900px;
    justify-content: top;
    align-items: center;

}

.levelsWindow {
    grid-area: 'levels';
    border: solid black 1px;
}

.codeButtonDefault {
    width: 98%;
    height: 40px;
    background-color: #FFBD59;
    border-color: #fcb953;
    border-radius: 5%;
}
.codeButtonEmpty{
    width: 98%;
    height: 40px;
    background-color: #F8EAC5;
    border-color: #fcb953;
    border-radius: 5%;
    
}

.levelButton {
    font-family: 'Lato', sans-serif;
    font-size: large;
    height: 64px;
    width: 64px;
    background-color: orangered;
    color: white;
}

.levelButtonDisabled {
    font-family: 'Lato', sans-serif;
    font-size: large;
    height: 64px;
    width: 64px;
    background-color: rgb(255, 144, 103);
    color: white;
}


.programControlButtons{
    all:unset;
    position: relative;
    bottom: -30px;
    
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    

}

.resetButton{
    font-family: 'Lato', sans-serif;
    font-size: large;
    height: 50px;
    width: 128px;
    font-weight: 800;
    background-color: rgb(255, 83, 31);
    border-radius: 10%;
    color: white;
}

.runProgramButton{
    font-family: 'Lato', sans-serif;
    font-size: large;
    font-weight: 800;
    height: 50px;
    width: 128px;
    background-color: rgb(52, 164, 39);
    border-radius: 10%;
    color: white;
}

